@charset "utf-8";
html {
    width: 100%;
    height: 100%;
    touch-action: manipulation;
    color: #000;
    background: #fff;
    overflow-y: scroll;
    user-select: none;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html * {
    outline:none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html, body {
    font-family: sans-serif;
}


input, select, textarea {
    font-size: 100%;
}

/* 去掉各 Table  cell 的边距并让其边重合 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 去除默认边框 */
fieldset, img {
    border: 0;
}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
    border: 0;
    font-variant: normal;
}

/* 一致的 del 样式 */
del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}

/* 去掉列表前的标识, li 会继承 */
ol, ul {
    list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
    text-align: left;
}

/* 来自 yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500;
}

q:before, q:after {
    content: '';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* 鼠标悬停 */
a:hover {
    text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
    text-decoration: none;
}

/* 迁移reset.less */

* {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-appearance: none;
    outline: none;
    word-break: break-all;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    touch-action: manipulation;
}
body {
    cursor: pointer;
    min-height: 100%;
    color: #333;
    font-family: Arial, "Microsoft YaHei";
    background-color: #e1e1e1;
    font-size: 0.28rem;
    line-height: 1.4;
    -webkit-text-size-adjust: none;
}

body *{
    max-height: 999999px;
}
h1,h2,h3,h4,h5 {
    font-weight: normal;
}
select {
    background: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"],
textarea {
    user-select: text;
}
input,
select {
    user-select: initial;
    font-family: Arial, "Microsoft YaHei";
    font-size: 0.24rem;
    border: none;
    height: 0.45rem;
    width: 100%;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #f60;
}
a:hover{
    text-decoration: none;
}
ul,ol,li {
    list-style: none;
}
img {
    border: 0;
}
input,img {
    vertical-align: middle;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


label,input,.select{
    user-select:initial;
    -webkit-appearance: none; 
}

a{
    text-decoration:none;
}

button{
    font-size: 0.3rem;
}

/* 迁移common.less */
// @baseFont : 10;
.display-none {
    display: none;
}

input{
    background-color: #fff;
}

input:disabled{
    color: #000;
    opacity: 1;
}

.width-p25 {
    width: 25%;
}

.width-p50 {
    width: 50%;
}

.width-p33 {
    width: 33.3%;
}

.mt10 {
    margin-top: 10px;
}

.tc {
    text-align: center;
}
.testimg {
    background-image: url('../images/yay.jpg');
}